<div id="footer">Retwis is a very simple Twitter clone written in <a href="http://golang.org/">Go</a> as example application of the <a href="http://redis.io">Redis database</a></div>
</div>
</body>
</html>